[submodule "JumpTo"]
	path = JumpTo
	url = https://github.com/JonasPf/JumpTo.git
[submodule "textmate-solarized"]
	path = textmate-solarized
	url = https://github.com/deplorableword/textmate-solarized
[submodule "CfQuickDocs"]
	path = CfQuickDocs
	url = https://github.com/DominicWatson/SublimeText2CfQuickDocsLauncher
[submodule "SublimeText2CfQuickDocsLauncher"]
	path = SublimeText2CfQuickDocsLauncher
	url = https://github.com/DominicWatson/SublimeText2CfQuickDocsLauncher
